.admin-panel-options {
  padding: 1rem 0 2rem 1rem;
  width: 100%;
  border-bottom: 1px solid var(--black);
}

.admin-panel-option {
  background: var(--light-Blue);
  border-radius: 5px;
  border: none;
  color: var(--white);
  cursor: pointer;
  outline: none;
  padding: 0.7rem 1rem;
  transition: 0.3s ease-in-out;
  width: fit-content;
}

.admin-panel-option:hover {
  background: var(--dark-Blue);
}

.admin-panel-option img {
  display: block;
  height: 20px;
  margin: 0 auto 0.2rem auto;
  width: 20px;
}

.admin-panel-option span {
  color: var(--white);
  font-size: 0.75rem;
  letter-spacing: 1.2px;
}
