.admin-panel-header {
  align-items: center;
  background: var(--dark-Blue);
  display: flex;
  height: 40px;
  justify-content: right;
  position: relative;
  width: 100%;
}

.geral-box {
  background: var(--white);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  bottom: 0;
  display: grid;
  height: 34px;
  left: 20px;
  place-items: center;
  position: absolute;
  width: 63px;
}

.geral-box span {
  color: var(--black);
  font-size: 0.75rem;
}

.user-box {
  color: var(--white);
  margin-right: 0.5rem;
  width: 60px;
}

.logout-btn {
  cursor: pointer;
}
