.login-form,
.register-form {
  background: var(--dark-Gray);
  border-radius: 10px;
  padding: 2.5rem 1.25rem;
}

.logo {
  display: block;
  height: 50px;
  margin: 0 auto 2rem auto;
  width: 228px;
}

.login-form-input,
.register-form-input {
  border-radius: 5px;
  border: none;
  display: block;
  height: 35px;
  margin-bottom: 0.5rem;
  outline: none;
  padding: 0.5rem;
  width: 100%;
}

.login-form-input:last-of-type {
  margin-bottom: 0;
}

.login-form-button,
.register-form-button {
  background: #333;
  border-radius: 5px;
  border: none;
  color: var(--white);
  cursor: pointer;
  height: 35px;
  letter-spacing: 1.3px;
  padding: 0 1.5rem;
  transition: 0.3s ease-in-out;
}

.login-form-button {
  display: block;
  margin: 1rem auto 1rem auto;
}

.register-form-button {
  margin-top: 1rem;
}

.login-form-button:hover,
.register-form-button:hover {
  opacity: 0.8;
}

.login-form-ver {
  color: #666;
  display: block;
  font-size: 0.75rem;
  text-align: right;
}

.bar {
  background: rgb(151, 149, 149);
  display: block;
  height: 1px;
  margin-bottom: 1rem;
  width: 100%;
}

.to-register-form {
  color: rgb(63, 59, 59);
  font-size: 0.875rem;
  text-align: center;
}

.to-register-form span {
  color: rgb(45, 73, 138);
  cursor: pointer;
}

.to-register-form span:hover {
  text-decoration: underline;
}

.login-message {
  color: var(--red);
  font-size: 0.875rem;
  margin-top: 0.5rem;
  text-align: center;
}
