.admin-panel-content {
  background: var(--light-Gray);
  padding: 1rem;
  height: calc(100vh - 150px);
  width: 100%;
}

.admin-panel-content-tabs {
  height: 35px;
  width: 100%;
}

.workspace-tab {
  background: var(--white);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--black);
  font-size: 0.75rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
}

.workspace-tab:first-child {
  background: var(--dark-Blue);
  color: #fff;
}

.admin-panel-content-searchBar {
  background: var(--white);
  display: grid;
  grid-template-columns: 260px 1fr 30px 30px;
  height: 30px;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
}

.searchBar-select {
  background: var(--white);
  border-radius: 3px;
  border: 1px solid #cecdcd;
  color: var(--light-Blue);
  margin-right: 0.3rem;
  outline: none;
}

.searchBar-input {
  border: 1px solid #cecdcd;
  color: var(--black);
  outline: none;
  padding: 0.5rem;
}

.searchBar-add-client,
.searchBar-btn-group button {
  background: var(--light-Blue);
  border: none;
  color: var(--white);
  cursor: pointer;
  height: 100%;
  transition: 0.3s ease-in-out;
  width: 100%;
}

.searchBar-btn-group button img {
  height: 50%;
  object-fit: cover;
  width: 50;
}

.searchBar-add-client img {
  height: 50%;
  object-fit: cover;
  width: 50;
}

.searchBar-add-client:hover,
.searchBar-btn-group button:hover {
  background: var(--dark-Blue);
}

.searchBar-add-client:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* LIST ITEMS */
.list-items {
  background: var(--white);
  height: 80%;
  padding: 0.3rem;
  width: 100%;
}

.search-item {
  border: 1px solid #cecdcd;
  display: grid;
  grid-template-columns: 1fr 1fr 30px 30px;
  margin-bottom: 0.1rem;
  padding: 0.5rem;
}

.search-item div {
  align-items: center;
  display: flex;
}

.search-item div p {
  color: var(--black);
  font-size: 0.75rem;
  font-weight: 700;
}

.search-item div span {
  color: var(--black);
  font-size: 0.75rem;
  font-weight: 400;
}

.search-item button {
  background: var(--light-Blue);
  border-radius: 3px;
  border: none;
  color: var(--white);
  cursor: pointer;
  height: 30px;
  transition: 0.3s ease-in-out;
}

.search-item button:hover {
  background: var(--dark-Blue);
}

.search-item button:last-child {
  margin-left: 0.1rem;
}

.search-item img {
  height: 50%;
  object-fit: cover;
  width: 50%;
}

.no-client-registered {
  margin-top: 2rem;
}

.no-client-registered p {
  color: var(--black);
  font-size: 1.25rem;
  text-align: center;
}

/* MODAL CREATE/EDIT CLIENT */
.modal-create-client,
.modal-edit-client {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  inset: 0;
  justify-content: center;
  position: fixed;
  z-index: 99;
}

.modal-create-client-box,
.modal-edit-client-box {
  background: #fff;
  border-radius: 10px;
  width: 90%;
  height: 95%;
}

.modal-create-client-header,
.modal-edit-client-header {
  align-items: center;
  background: var(--light-Blue);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.modal-create-client-header h2,
.modal-edit-client-header h2 {
  color: var(--white);
  font-size: 1.25rem;
}

.modal-create-client-header span,
.modal-edit-client-header span {
  color: var(--white);
  cursor: pointer;
}

.modal-create-client-main,
.modal-edit-client-main {
  height: 90%;
  padding: 2rem;
  position: relative;
  width: 100%;
}

.modal-create-client-main form h2,
.modal-edit-client-main form h2 {
  color: var(--black);
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.create-client-grid,
.edit-client-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.create-client-grid:first-of-type,
.edit-client-grid:first-of-type {
  margin-bottom: 1rem;
}

.create-client-grid input,
.create-client-grid select,
.edit-client-grid input,
.edit-client-grid select {
  border-radius: 3px;
  border: 1px solid #cecdcd;
  color: var(--black);
  outline: none;
  padding: 0.5rem;
}

.modal-create-client-main button,
.modal-edit-client-main button {
  background: var(--light-Blue);
  border-radius: 3px;
  border: none;
  bottom: 20px;
  color: var(--white);
  cursor: pointer;
  height: 30px;
  outline: none;
  position: absolute;
  right: 20px;
  transition: 0.3s ease-in-out;
  width: 70px;
}

.modal-create-client-main button:hover,
.modal-edit-client-main button:hover {
  background: var(--dark-Blue);
}

/* MODAL DELETE CLIENT */
.modal-delete-client {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  inset: 0;
  justify-content: center;
  position: fixed;
  z-index: 99;
}

.modal-delete-client-box {
  align-items: center;
  background: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  max-width: 500px;
  padding: 2rem;
  width: 100%;
}

.modal-delete-client-box h2 {
  color: var(--black);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.modal-delete-client-btns button {
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 2px 0.3px #999;
  color: var(--black);
  cursor: pointer;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.modal-delete-client-btns button:first-child {
  margin-right: 0.5rem;
}

.modal-delete-client-btns button:first-child:hover {
  background: var(--red);
  color: var(--white);
}
